* {
  box-sizing: border-box;
  margin: 0; }

body {
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  border: none; }

.splash-section {
  height: 800px;
  background-image: url("../assets/NYCity.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%; }

.services-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6%; }
  .services-section .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .services-section .service img {
      margin-bottom: 30px; }
    .services-section .service p {
      font-family: 'Open Sans', 'Avenir-Roman', sans-serif;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
      width: 70%; }

.testimonial-section {
  background: #333132;
  color: #fff;
  padding: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .testimonial-section img {
    cursor: pointer; }
  .testimonial-section .text {
    width: 75%; }
  .testimonial-section p {
    font-family: 'Open Sans', 'Avenir-Roman', sans-serif;
    font-size: 28px;
    margin: 0 auto;
    color: #F8F5EF; }
  .testimonial-section .contact {
    margin-top: 20px; }
    .testimonial-section .contact p {
      font-size: 24px;
      text-align: right; }

.hellos-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
  background: url("../assets/hellos-section.png"); }
  .hellos-section p {
    font-family: 'Open Sans', 'Avenir-Roman', sans-serif;
    font-size: 24px; }
  .hellos-section button {
    font-size: 20px;
    padding: 8px 32px;
    outline: none;
    background: transparent;
    border: 3px solid #F26648;
    border-radius: 25px; }

.work-section {
  background: #F26648;
  padding: 4% 0; }
  .work-section p {
    font-size: 48px;
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    color: #fff;
    margin-bottom: 20px; }
  .work-section .group {
    display: flex;
    justify-content: space-between;
    padding: 0 8%; }
    .work-section .group .work-item {
      width: 280px;
      height: 280px;
      border-radius: 50%;
      transform: translate(0, 10px);
      transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      border: 10px solid #fff;
      background-size: cover !important; }

.partners-section {
  background: #2D2B2C;
  padding: 3% 0; }
  .partners-section .container {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between; }

.content-section {
  padding: 6% 8%;
  display: flex;
  justify-content: space-between; }
  .content-section .content-item {
    box-shadow: 0 0 20px rgba(190, 190, 190, 0.5);
    border-radius: 4px;
    width: 360px;
    transform: translate(0, 10px);
    transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .content-section .content-item .content-image {
      width: auto;
      height: 240px; }
    .content-section .content-item .content-text {
      padding: 20px; }
      .content-section .content-item .content-text h5 {
        font-family: 'Muli', 'Avenir-Medium', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #363636; }
      .content-section .content-item .content-text .delimeter {
        height: 2px;
        background: #979797;
        margin-top: 10px;
        margin-bottom: 30px; }
      .content-section .content-item .content-text p {
        font-family: 'Open Sans', 'Avenir-Roman', sans-serif;
        font-size: 14px;
        color: #666666; }
    .content-section .content-item .button-holder {
      margin-top: 30px;
      display: flex;
      justify-content: flex-end; }
      .content-section .content-item .button-holder button {
        background: #F35A39;
        color: #fff;
        border-radius: 2px;
        font-size: 14px;
        padding: 10px; }

.social-feed-section {
  padding: 6%;
  background: #333132;
  display: flex; }
  .social-feed-section .feed-item {
    display: flex;
    padding: 0 2%; }
  .social-feed-section .logo {
    margin-right: 20px; }
  .social-feed-section .tweet .content {
    margin-bottom: 40px; }
  .social-feed-section .tweet p {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', 'Avenir-Roman', sans-serif; }
  .social-feed-section .tweet a {
    color: #1DA1F2; }

footer {
  padding: 4% 6%;
  background: #F8F5EF;
  border-top: 1px solid #cfcfcf; }
  footer .links {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
    footer .links a {
      color: #454545;
      margin-right: 40px;
      font-size: 20px;
      font-family: 'Open Sans', 'Avenir-Roman', sans-serif; }
  footer .social-media {
    display: flex;
    justify-content: center; }
    footer .social-media img {
      margin-right: 30px; }
  footer .footer-image {
    display: flex;
    justify-content: center; }
    footer .footer-image img {
      width: 180px; }

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
  opacity: .9;
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10; }
  .tooltip .title {
    font-size: 13px; }
  .tooltip .name {
    font-weight: bold; }

.featured-projects-view {
  background: #F8F5EF; }
  .featured-projects-view h1 {
    font-family: 'La Belle Aurore';
    font-size: 48px;
    text-align: center;
    padding: 2% 0; }
  .featured-projects-view .projects-holder {
    display: flex;
    justify-content: center; }
  .featured-projects-view #toolbar {
    position: relative;
    left: 80px; }
    .featured-projects-view #toolbar a {
      display: inline-block;
      background: #17152c;
      color: #fff;
      padding: 10px;
      border-radius: 4px; }
    .featured-projects-view #toolbar a:nth-child(2) {
      margin-left: 20px; }
  .featured-projects-view .bubble {
    cursor: pointer; }

.team-view {
  background: #F8F5EF; }
  .team-view h1 {
    font-family: 'La Belle Aurore';
    text-align: center;
    font-size: 48px;
    padding: 3% 0; }
  .team-view ul {
    padding-left: 6%; }
    .team-view ul li {
      padding: 6px 0;
      list-style: none;
      cursor: pointer; }

.team-grouping {
  display: flex; }
  .team-grouping .team-names {
    flex-basis: 20%;
    text-align: right; }
  .team-grouping .team-member-profile {
    display: flex;
    flex-basis: 80%; }

.bio {
  flex-basis: 40%;
  margin-top: 20px; }
  .bio .name p {
    font-family: 'La Belle Aurore';
    font-size: 40px;
    font-weight: 900; }
  .bio .position p {
    font-size: 20px;
    color: #939598;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px; }
  .bio .description p {
    font-size: 14px;
    line-height: 25px; }

.project-info {
  padding: 2% 0;
  text-align: center; }
  .project-info .project-title {
    font-size: 36px;
    margin-bottom: 10px; }
  .project-info .project-client {
    font-size: 24px;
    margin-bottom: 5px; }
  .project-info a {
    color: #F26648; }

.form-view {
  margin-top: -100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

form {
  width: 25%;
  background: #f6f6f6;
  display: flex;
  border: 1px solid #e5ecf3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  flex-direction: column;
  padding: 30px;
  margin-top: 30px; }
  form p {
    font-weight: bold;
    color: red; }

input[type='text'],
input[type='password'],
input[type='submit'], textarea {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #fff;
  font-size: 14px; }

input[type='submit'] {
  border: none;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  text-transform: uppercase;
  background: #F26648;
  font-weight: bold;
  font-size: 16px; }

h2 {
  color: #333132; }

.dashboard-view {
  margin-top: -100px;
  height: 100%;
  display: flex; }
  .dashboard-view aside {
    flex-basis: 15%;
    background: #323544; }
  .dashboard-view section {
    flex-basis: 85%;
    background: #F6F6F6;
    padding: 4% 6%;
    overflow-y: scroll; }

section header {
  display: flex;
  justify-content: space-between; }
  section header h1 {
    text-transform: uppercase;
    text-decoration: underline; }
  section header button {
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: bold;
    background: #F26648;
    color: #fff; }

.user-container {
  background: #F26648;
  box-sizing: border-box;
  padding: 4%;
  margin-bottom: 40px; }

.buttons-container {
  display: flex;
  flex-direction: column; }
  .buttons-container button {
    font-size: 14px;
    text-transform: uppercase;
    padding: 30px 40px;
    font-weight: bold;
    color: #fff;
    background: none;
    text-align: left;
    border-bottom: 1px solid #939393;
    cursor: pointer;
    outline: none; }

.items-container {
  margin-top: 40px; }
  .items-container .item {
    background: #fff;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.08); }

.item-group {
  margin-bottom: 15px; }
  .item-group h3 {
    text-transform: uppercase;
    color: #a2a2a2; }

.cover-photo {
  width: 100%;
  height: 600px;
  background-size: cover !important; }

.action-on-items {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #999999;
  padding-top: 20px; }
  .action-on-items button {
    padding: 15px 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff; }
  .action-on-items .update {
    background: #00bf9d; }
  .action-on-items .delete {
    background: #eb4c37; }

body {
  font-family: 'Avenir', 'Muli', sans-serif; }

nav {
  position: fixed;
  width: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: #fff;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.5);
  z-index: 1; }
  nav .nav-logo {
    width: 160px;
    height: auto; }

.nav-links a {
  font-family: 'Open Sans', Helvetica, sans-serif;
  margin-left: 40px;
  color: #787976;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase; }

main {
  position: relative;
  top: 100px; }

md-dialog {
  width: 40%;
  padding: 2%; }
  md-dialog form {
    width: 100%; }
