.dialog-view
    h2 Add New Why NijeL Section
    form(ng-submit='createNewWhyNijelSection(coverPhoto)')
        input(type='text' placeholder='Heading' ng-model='section.title' required)
        fieldset
            label Select Cover Photo
            input(type='file' ngf-select  ng-model='coverPhoto' name='file' accept='image/*' ngf-max-size='2MB')
        ng-quill-editor(ng-model='section.text', name='text')
        input(type='submit')

