md-button.md-fab(aria-label='Add Process', class='md-fab-bottom-right launchItemModal', ng-click='launchAddProcessSectionModal($event)', style="position:fixed !important;")
    md-icon.material-icons add
md-card
    md-toolbar.md-table-toolbar.md-default
        .md-toolbar-tools
            h2.md-title Processes             
            .flex(flex='')

    md-table-container
        table(md-table='' md-progress='promise')
            thead(md-head='')
                tr(md-row='')
                    th(md-column='') Title
                    th(md-column='') Description
                    th(md-column='') Actions
            tbody(md-body='')
                tr(md-row='' md-select="section"  md-select-id='name' ng-repeat='section in sections')
                    td(md-cell='')
                        a(md-cell='') {{section.title}}
                    td(md-cell='' ng-bind-html="trustAsHtml(section.text)")
                    td(md-cell='')
                        div(layout='row', layout-sm='column')
                            md-button.md-icon-button.md-accent(aria-label='Edit', ng-click='updateProcessSection($event, section)')
                                md-icon.material-icons edit
                            md-button.md-icon-button.md-accent(aria-label='Delete' ng-click='deleteItem($event, section)')
                                md-icon.material-icons delete
