md-button.md-fab(aria-label='Eat cake', class='md-fab-bottom-right launchItemModal', ng-click='launchAddProjectModal($event)', style="position:fixed !important;")
    md-icon.material-icons add

md-card
    md-toolbar.md-table-toolbar.md-default(ng-hide='selected.length || filter.show', aria-hidden='false', style='')
        .md-toolbar-tools
            h2.md-title Projects
            .flex(flex='')
            button.md-icon-button.md-button.md-ink-ripple(type='button', ng-click='filter.show = true', aria-label='filter_list')
                md-icon.material-icons filter_list
                .md-ripple-container
    md-toolbar.md-table-toolbar.md-default.ng-hide(ng-show='filter.show && !selected.length', aria-hidden='true', style='')
        .md-toolbar-tools
            md-icon.material-icons search
            form.ng-pristine.ng-valid.flex(flex='', name='filter.form' class='toolbar-search-bx')
                input.ng-pristine.ng-valid.ng-touched(type='text', ng-model='query.filter', ng-model-options='filter.options', placeholder='search', aria-invalid='false', style='')
            button.md-icon-button.md-button.md-ink-ripple(type='button', ng-click='removeFilter()', aria-label='close')
                md-icon.material-icons close
                .md-ripple-container

    md-table-container
        table(md-table='',  ng-model='selected', md-progress='promise')
            thead(md-head='')
                tr(md-row='')
                    th(md-column='') Project
                    th(md-column='') Client
                    th(md-column='') SDG
                    th(md-column='') Year
                    th(md-column='') Actions
            tbody(md-body='')
                tr(md-row='',  md-select-id='name', md-auto-select='', ng-repeat='project in filteredProjects')
                    td(md-cell='')
                        a(ng-click='edit($event, item)') {{project.name}}
                    td(md-cell='') {{project.client}}
                    td(md-cell='') {{project.relevantSDG}}
                    td(md-cell='') {{project.year}}
                    td(md-cell='')
                        div(layout='row', layout-sm='column',)
                            md-button.md-icon-button.md-accent(aria-label='Edit', ng-click='updateProject($event, project)')
                                md-icon.material-icons edit
                            md-button.md-icon-button.md-accent(aria-label='Delete', ng-click='updateProject($event, project)')
                                md-icon.material-icons delete

