md-button.md-fab(aria-label='Add Service', class='md-fab-bottom-right launchItemModal', ng-click='launchAddProcessSectionModal($event)', style="position:fixed !important;")
    md-icon.material-icons add