html
  include shared-views/head
  body(ng-app='nijelApp')
    div(ng-if ="!isAdminState")
      include shared-views/nav
    main
      ui-view(class='main-view' ng-cloak)
        div(ngif="!isAdminState")
        include shared-views/footer


