html
  include shared-views/head
  body(ng-app='nijelApp')
    div(class="box")
      div(ng-if ="!isAdminState", class="row header")
        include shared-views/nav
      div(ng-class="!isAdminState ? 'main' : ''")
        ui-view(class='main-view' ng-cloak)
          div(ngif="!isAdminState")
          include shared-views/footer


