.admin-view {
    display: flex;
    align-items: center;
    margin-top: 60px;
    .sub-view {
        flex-basis: 50%;
        .form-container {
            width: 65%;
            margin: 0 auto;
        }
    }
    .sub-view:first-of-type {
        border-right: 2px solid #858585;
    }
    h2 {
        text-align: center;
    }
    form {
        width: 100%;
    }
}
.md-button.md-default-theme.md-fab, .md-button.md-fab {
	background-color: #F26648;
}

.md-button.md-default-theme.md-fab:not([disabled]).md-focused, .md-button.md-fab:not([disabled]).md-focused, .md-button.md-default-theme.md-fab:not([disabled]):hover, .md-button.md-fab:not([disabled]):hover {
	background-color: #C15239
}

.md-button.md-default-theme.md-accent, .md-button.md-accent {
	color: #F26648;
}

.md-button.md-default-theme.md-accent:not([disabled]) md-icon, .md-button.md-accent:not([disabled]) md-icon {
	color: #F26648;
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
	background-color: #F26648;
}

md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
	color: #F26648;
}