.dashboard-view {
    height: 100%;
    display: flex;
    aside {
        flex-basis: 15%;
        background: #323544;
    }
    section {
        flex-basis: 85%;
        background: #F6F6F6;
        padding: 2% 2%;
        overflow-y: scroll;
    }
}

section {
    header {
        display: flex;
        justify-content: space-between;
        h1 {
            text-transform: uppercase;
            text-decoration: underline;
        }
        button {
            padding: 15px 20px;
            border-radius: 4px;
            font-weight: bold;
            background: #F26648;
            color: #fff;
        }
    }
}

.user-container {
    background: #F26648;
    box-sizing: border-box;
    padding: 4%;
    margin-bottom: 40px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    button {
        font-size: 14px;
        text-transform: uppercase;
        padding: 30px 40px;
        font-weight: bold;
        color: #fff;
        background: none;
        text-align: left;
        border-bottom: 1px solid #939393;
        cursor: pointer;
        outline: none;
    }
}

.items-container {
    margin-top: 40px;
    .item {
        background: #fff;
        margin-bottom: 40px;
        border-radius: 5px;
        padding: 30px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.08);
    }
}

.item-group {
    margin-bottom: 15px;
    h3 {
        text-transform: uppercase;
        color: #a2a2a2;
    }
}

.cover-photo {
    width: 100%;
    height: 400px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.action-on-items {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #999999;
    padding-top: 20px;
    button {
        padding: 15px 20px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 5px;
        color: #fff;
    }
    .update {
        background: #00bf9d;
    }
    .delete {
        background: #eb4c37;
    }
}

.dialog-view {
    padding: 40px;
}


.toolbar-search-bx {
    background: none;
    border: none;
    box-shadow: none;
}

form {
    &.toolbar-search-bx{
        input:focus{
            outline: none;
        }
    }
}
