.admin-view {
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: center;
    .login-button {
        width: 240px;
        background: #DD4B39;
        height: 45px;
    }
   .login-icon {
    display: inline-block;
    width: 55px;
    padding: 0.3rem;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #860606;
   }
   .logo {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    width: 100%;
    height: 100%;
   }
   img {
    width: 24;
    margin: 8;
    vertical-align: middle;
    border: 0;
   }
   .login-text {
    display: inline-block;
    height: 100%;
    line-height: 1;
    padding: .8rem;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    flex: 1;
    flex-direction: column;
    justify-content: center;
   }
   span {
    font-size: 13px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
   }
    .sub-view {
        flex-basis: 50%;
        .form-container {
            width: 65%;
            margin: 0 auto;
        }
    }
    .sub-view:first-of-type {
        border-right: 2px solid #858585;
    }
    h2 {
        text-align: center;
    }
    form {
        width: 100%;
    }
}
