@import 'reset';
@import 'home';
@import 'featured-projects';
@import 'team';
@import 'project';
@import 'why-nijel';
@import 'services';
@import 'contact-us';
@import 'form-view';
@import 'admin-dashboard';
@import 'admin';

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 768px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 992px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        max-width: 100%;
    }
}


// body//
body {
    font-family: 'Avenir', 'Muli', sans-serif;
}

p {
    margin-bottom: 20px;
}

.center-child-horizontal {
    display: flex;
    justify-content: center;
    top: 67px;
    width: 100%;
}
.main-nav {
    position: absolute;
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0px;
    margin-top: 50px;
    background: transparent;
    transition: height 400ms;
    -webkit-transition: height 400ms;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 12px 0px !important;
    .nav-logo {
        width: 160px;
        height: auto;
        display: none;
    }
    .open-nav-logo {
        width: 80px;
        height: auto;
        opacity: 1;
        transition: opacity 400ms;
        -webkit-transition: opacity 400ms;
    }
        
}

.nav-links {
    a {
        font-family: 'Open Sans', Helvetica, sans-serif;
        margin-left: 40px;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.main {
    position: relative;
    top: 100px;
}

md-dialog {
    width: 60%;
    form {
        width: 100%;
    }
}

input[type='submit'] {
    margin-top: 16px;
    z-index: 1;
}

ng-quill-editor {
    display: block;
    height: 400px;
}

.ql-editor {
    background: #fff;
}
