.featured-projects-view {
    display: flex;
    flex-direction: column;
    h1 {
        font-family: 'La Belle Aurore';
        font-size: 48px;
        text-align: center;
        padding: 2% 0;
    }
    .projects-holder {
        display: flex;
        justify-content: center;
    }
    .list-projects {
        border-top: 1px solid #cfcfcf;
        padding: 40px 0;
        section {
            display: flex;
            .projects-container {
                flex-basis: 33.33%;
            }
        }
        h2 {
            margin-bottom: 10px;
            text-decoration: underline;
        }
    }
    #toolbar {
        display: flex;
        a {
            background: #17152c;
            color: #fff;
            padding: 10px;
            border-radius: 4px;
        }
        a:nth-child(2) {
            margin-left: 20px;
        }
    }
    .bubble {
        cursor: pointer;
    }
}
