.project-info {
    padding: 2% 0;
    text-align: center;
    .project-title {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .project-client {
        font-size: 24px;
        margin-bottom: 5px;
    }
    a {
        color: #F26648;
    }
}
