.project-info {
    .cover-photo-holder {
        width: 100%;
        height: 450px;
    }
    .default-cover-photo {
        background: url('../assets/section-bg.png')
    }
    .project-details {
        padding: 40px;
        width: 900px;
        margin: 0 auto;
        background: #fff;
        margin-top: -150px;
        box-shadow: rgba(2, 2, 22, 0.1) 0px 15px 60px 0px;
        .group {
            padding: 10px 0;
            .group-title {
                font-weight: bold;
                text-decoration: underline;
                margin-bottom: 5px;
            }
        }
        .project-title {
            font-size: 42px;
            font-weight: 900;
            margin-bottom: 10px;
            border-bottom: 1px solid #cacaca;
        }
    }
    .project-client {
        font-size: 24px;
        margin-bottom: 5px;
    }
    a {
        color: #F26648;
    }

}
