.team-view {
    //background: #fff;
    .view-title {
        font-family: 'La Belle Aurore';
        font-size: 48px;
        text-align: center;
        padding: 2%;
    }
    section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-shadow: 0 0.9375rem 3.75rem rgba(2, 2, 22, 0.1);
        margin-bottom: -10px;
    }
    .team-member {
        //border: 1px solid #edf0f2;
        align-items: center;
        background: #fff;
        outline: none;
        cursor: pointer;
        width: 270px;
        margin-bottom: 10px;
        img {
            width: 230px;
            height: 230px;
        }
        .details {
            width: 100%;
            padding: 20px;
        }
    }
    //.team-member:nth-child(2),
    //.team-member:nth-child(3),
    //.team-member:nth-child(5),
    //.team-member:nth-child(6) {
    //    border-left: 1px solid #edf0f2;
    //}
    //.team-member:nth-child(1),
    //.team-member:nth-child(2),
    //.team-member:nth-child(3) {
    //    border-bottom: 1px solid #edf0f2;
    //}
}
//div.team-img {
//    width: 230px;
//    height: 230px;
//    line-height: 230px;
//    text-align: center;
//    margin-bottom: 15px;
//}
.team-member-dialog {
    display: flex;
    .photo {
        padding-top: 30px;
        flex-basis: 30%;
        img {
            width: 100%;
        }
    }
    .details {
        flex-basis: 70%;
        padding: 30px 50px;
        .intro {
            padding: 20px;
            background: #f26648;
            span {
                color: #fff;
                font-size: 24   px;
                font-weight: bold;
                display: block;
            }
        }
        .description {
            padding-top: 20px;
            p {
                font-size: 18px;
            }
        }
    }
}
