.why-nijel-view {
    padding-top: 30px;
    md-tabs md-ink-bar {
        background: #f2654e;
    }
    md-content {
        h1 {
            font-family: 'La Belle Aurore', cursive;
        }
    }
}

.image-container {
    display: flex;
    justify-content: center;
}


