.center-child-horizontal
    img.nav-logo(src='assets/NijelLogo.svg')
.admin-view
  a(href='/api') Google Login
  a.login-button(href='#' ng-click='authenticate()')
    span.login-icon
      span.logo
        img(src='assets/google.png')
    span.login-text
      span SIGN IN WITH GOOGLE
