.form-view
  h2 LOGIN
  form(ng-submit='login()')
    input(type="text" placeholder='E-mail' ng-model='user.email' required)
    input(type='password' placeholder='Password' ng-model='user.password' required)
    input(type="submit")
    p(ng-model='errorMessage' ng-show='errorMessage') {{errorMessage}}