.dashboard-view
  aside
    .user-container
      img(src='assets/NijelLogo.svg')

    .buttons-container
      button(ui-sref='admin.dashboard.testimonials') Testimonials
      button(ui-sref='admin.dashboard.projects') All Projects
      //md-button(ui-sref='why-nijel') Our Mission, Vision and Values
      button(ng-click='fetchFeaturedProjects()') Featured Projects
      button(ui-sref='admin.dashboard.team') Team
      button(ui-sref='admin.dashboard.why-nijel') Why NiJeL
      button(ui-sref='admin.dashboard.processes') Processes
  section
    //header
      //h1(ng-model='sectionTitle') {{sectionTitle}}
      //button(class='launchItemModal' ng-click='launchAddTestimonialModal($event)' ng-if='sectionTitle=="Testimonials"') Add Testimonial
      //button(class='launchItemModal' ng-click='launchAddProjectModal($event)' ng-if='sectionTitle=="All Projects"') Add Project
      //button(class='launchItemModal' ng-click='launchAddTeamMemberModal($event)' ng-if='sectionTitle=="Team"') Add Team Member
      //button(class='launchItemModal' ng-click='launchAddWhyNijelSectionModal($event)' ng-if='sectionTitle=="Why NiJeL"') Add Why-Nijel Section
      //button(class='launchItemModal' ng-click='launchAddProcessSectionModal($event)' ng-if='sectionTitle=="Processes"') Add Process Section
    //.projects-container(ng-if='sectionTitle=="All Projects"')
      include admin/project-list
    div.ui-view

    //.items-container.testimonials
    //  .item( ng-if='sectionTitle!="All Projects"' ng-repeat='item in items track by $index')
    //    .testimonials-container(ng-if='sectionTitle=="Testimonials"')
    //      include admin/testimonial-list
    //
    //    .team-container(ng-if='sectionTitle=="Team"')
    //      include admin/team-list
    //    .why-nijel-container(ng-if='sectionTitle=="Why NiJeL"')
    //      include admin/whynijel-list
    //    .processes-container(ng-if='sectionTitle=="Processes"')
    //      include admin/processes-list
        //include admin/shared-views/action-buttons