.why-nijel-view
  md-tabs(md-dynamic-height md-border-bottom)
     md-tab(label='{{section.title}}' id="{{section.title | slugify}}" ng-repeat='section in sections' md-on-select='onTabSelected(section.title | slugify)')
       md-content.md-padding
         h1.md-display-2 {{section.title}}
         .image-container
            img(src='assets/mapdots.png')
         p(ng-bind-html='trustAsHtml(section.text)')