footer
  section
    .footer-info
      .address
        img(src='assets/NijelLogo.svg')
        p 926 Fulton St. #1
          br
          | Brooklyn, NY 11238
      .navigation
        h4 Company
        ul
          li
            a(ui-sref='why-nijel') Why NiJeL
          li
            a(ui-sref='projects') Our Projects
          li
            a(ui-sref='team') Team
          li
            a(ui-sref='contact-us') Contact Us
      .services
        h4 Services
        ul
          li
            a Our Mission, Vision and Values
          li
            a Our Process
          li
            a Technology
          li
            a Partner with NiJeL
          li
            a About NiJeL
      .social-info
        h4 Connect with us
        .social-icons
          a(href='mailto:jd@nijel.org' target='_top')
            img(src='assets/mail.svg')
          a(href='https://twitter.com/nijel_mapping' target='_blank')
            img(src='assets/twitter.svg')
          a(href='https://www.facebook.com/NiJeLMapping/' target='_blank')
            img(src='assets/facebook.svg')
    .footer-terms
      span Terms of use .Privacy Policy. Directions
      span &copy; 2017 NIJEL
