base(href='/')
meta(charset='utf-8')
link(href='https://fonts.googleapis.com/css?family=La+Belle+Aurore', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Muli:300,400,900', rel='stylesheet')
link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
link(href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css' rel='stylesheet')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
// style sheet

link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/quill/1.2.0/quill.snow.css")
link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/quill/1.2.0/quill.bubble.css")
link(href='css/app.css' rel='stylesheet')
link(href='https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.css', rel='stylesheet')
script(src='js/bundle.js')


